/* -- ----------START-ACADEMIC-CSS------------ -- */
.academic {
  display: grid;
  grid-template-columns: 30% 60% 1fr;
  grid-template-rows: 1fr 20% 1fr 20% 1fr 20% 1fr 20% 1fr;
  grid-template-areas: ". column2Container ."
                       "titleAcademic column2Container ."
                       ". column2Container ."
                       "studyPlan column2Container ."
                       ". column2Container ."
                       "studyProgram column2Container ."
                       ". column2Container ."
                       "infoTeachers column2Container ."
                       ". column2Container .";
  height: 80vh;
  width: 100%;
  background: linear-gradient(
      135deg,
      rgba(50, 151, 203, 1) 0%,
      rgba(49, 49, 100, 1) 100%
      );
  justify-items: center;
  align-items: center;
  color: white;
}
.academic h1 {
  display: inherit;
  text-align: center;
  align-items: center;
}
/* .academic .titleAcademic .studyPlan .studyProgram .infoTeachers h1 {
  display: inherit;
  text-align: center;
  align-items: center;
} */
.titleAcademic{
  width: 60%;
  height: 60%;
  grid-area: titleAcademic;
  border-radius: 100px;
  background: #314D81;    
  /* text-align: center; */
  /* align-items: center; */
}
.studyPlan{
  width: 60%;
  height: 60%;
  grid-area: studyPlan;
  border-radius: 100px;
  background: #314D81;
  /* text-align: center; */
  /* align-items: center; */
}
.studyProgram{
  width: 60%;
  height: 60%;
  grid-area: studyProgram;
  border-radius: 100px;
  background: #314D81;
  /* text-align: center; */
  /* align-items: center; */
}
.infoTeachers{
  width: 60%;
  height: 60%;
  grid-area: infoTeachers;
  border-radius: 100px;
  background: #314D81;
  /* text-align: center; */
  /* align-items: center; */
}
.column2Container {
  width: 100%;
  height: 100%;
  grid-area: column2Container;
  display: flex;
  /* background: crimson; */
  /* transition: transform 1s; */
  /* transform: translateX(-100%); */
  /* text-align: center; */
}
.titleContent {
  width: 100%;
  height: 100%;
  /* background: crimson; */
  display: none;
  /* display: flex; */
}
.studyPlanContent {
  width: 100%;
  height: 100%;
  background: crimson;
  display: none;
}
.studyProgramContent {
  width: 100%;
  height: 100%;
  background: burlywood;
  display: none;
}
.infoTeachersContent {
  width: 100%;
  height: 100%;
  background: chartreuse;
  display: none;
}
/* iframe {
  width: 100%;
  height: 100%;
} */
button {
  outline: none;
  border: none;
  color: white;
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 1.4em;
  cursor: pointer;

}
button:hover {
  background: #3297CB;
}
button:active {
  background: #16162D;

}


/* -- ----------END-ACADEMIC-CSS------------ -- */