/* -- ----------START-ACADEMIC-CSS------------ -- */
.academic {
  display: grid;
  grid-template-columns: 30% 60% 1fr;
  grid-template-rows: 1fr 20% 1fr 20% 1fr 20% 1fr 20% 15%;
  grid-template-areas: ". column2Container ."
                       "titleAcademic column2Container ."
                       ". column2Container ."
                       "studyPlan column2Container ."
                       ". column2Container ."
                       "studyProgram column2Container ."
                       ". column2Container ."
                       "infoTeachers column2Container ."
                       ". column2Container .";
  height: 90vh;
  width: 100%;
  background: linear-gradient(
      135deg,
      rgba(50, 151, 203, 1) 0%,
      rgba(49, 49, 100, 1) 100%
      );
  justify-items: center;
  align-items: center;
  color: white;
}
.academic h1 {
  display: inherit;
  text-align: center;
  align-items: center;
}
.titleAcademic{
  width: 60%;
  height: 60%;
  grid-area: titleAcademic;
  border-radius: 100px;
  background: #314D81;    
}
.studyPlan{
  width: 60%;
  height: 60%;
  grid-area: studyPlan;
  border-radius: 100px;
  background: #314D81;
}
.studyProgram{
  width: 60%;
  height: 60%;
  grid-area: studyProgram;
  border-radius: 100px;
  background: #314D81;
}
.infoTeachers{
  width: 60%;
  height: 60%;
  grid-area: infoTeachers;
  border-radius: 100px;
  background: #314D81;
}
.column2Container {
  width: 100%;
  height: 100%;
  grid-area: column2Container;
  display: flex;
  /* background: crimson; */
  /* transition: transform 1s; */
  /* transform: translateX(-100%); */
  /* text-align: center; */
}
.titleContent {
  width: 100%;
  height: 100%;
  display: none;
  /* display: flex; */
}
.studyPlanContent {
  width: 100%;
  height: 100%;
  display: none;
}
/* -- ----------START-STUDY-PROGRAM-CONTENT------------ -- */
.studyProgramContent {
  width: 100%;
  height: 100%;
  display: none;
}
.studyProgramContent h1 {
  margin: 0;
  font-size: 1.8em;
}
.studyProgramContent p {
  font-size: 1.4em;
  font-weight: 600;
}
.optionsStudyProgramContent {
  height: 10%;
  width: auto;
}
.optionsStudyProgramContent button{
  background: rgba(49, 49, 100, 1);
  width: 15%;
}
.firstYearContentCB {
  display: none;
}
.secondYearContentCB {
  display: none;
}
.firstYearContentCS {
  display: none;
}
.secondYearContentCS {
  display: none;
}
.thirdYearContentCS {
  display: none;
}
.fourthYearContentCS {
  display: none;
}
/* -- ----------END-STUDY-PROGRAM-CONTENT------------ -- */

.infoTeachersContent {
  width: 100%;
  height: 100%;
  display: none;
}
.infoTeachersContent1 {
  display: none;
}
.infoTeachersContent2 {
  display: none;
}
.infoTeachersContent p {
  font-size: 1.4em;
  font-weight: 600;
}
.infoTeachersContent h1 {
  font-size: 1.8em;
  margin: 0;
}
.optionInfoTeachersContent {
  width: auto;
}
.optionInfoTeachersContent button {
  background: rgba(49, 49, 100, 1);
  width: 15%;
} 
/* iframe {
  width: 100%;
  height: 100%;
} */
.academic button {
  outline: none;
  border: none;
  color: white;
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 1.4em;
  cursor: pointer;

}
button:hover {
  background: #3297CB;
}
button:active {
  background: #16162D;
}
.ELPEPE:target {
  _blank
}
/* -- ----------END-ACADEMIC-CSS------------ -- */

/* ----------------------------START-ACADEMIC-RESPONSIVE--------------------- */
@media screen and (max-width:768px) {
  .academic {
    grid-template-columns: 30% 68% 1fr;
  }

  .academic button {
    font-size: 1.3em;
  }
}

@media screen and (max-width:425px) {
  /* .academic  */
}
/* ----------------------------END-ACADEMIC-RESPONSIVE--------------------- */
