/* * {
  border: RED 1px solid;
} */
/* FUENTES */
img{
  background:linear-gradient(135deg, rgba(50,151,203,1) 0%, rgba(49,49,100,1) 100%);
}
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?6ppo9d');
	src:  url('../fonts/icomoon.eot?6ppo9d#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?6ppo9d') format('truetype'),
	  url('../fonts/icomoon.woff?6ppo9d') format('woff'),
	  url('../fonts/icomoon.svg?6ppo9d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .icon-menu1:before {
	content: "\e900";
  }
  .icon-menu:before {
	content: "\e9bd";
  }


/* FUENTES */
body {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
  color: white;
}
/* ----START-HEADER----- */
header {
  display: flex;
  width: 100%;
  height: auto;
  background: #16162d;
}
header h1 {
  font-size: 3.8em;
  font-weight: 400;
  margin: auto 0;
}
.logotypeContainer {
  width: 7em;
  height: 7em;
  margin: 0;
  margin-left: 6.5em;
}
.logotypeContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: unset;
}
/* ----END-HEADER----- */

/* ----START-HERO----- */

.hero {
  display: flex;
  position: relative;
}
figure {
  margin: 0;
}
.heroImageContainer {
  width: 100%;
  height: 599px;
}
.heroImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 9.5em;
  color: red;
  width: 80%;
}
.list ul {
  margin: 0;
  list-style: none;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 0;
}
.list ul li a {
  text-shadow: 2px 2px 6px #000000;
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: .3s;
}
.list ul li a:hover{
  font-size:1.1em
}
.navContainer {
  width: 100%;
  background-color: #16162d;
}
.plataformasButton {
  background-color: #3297cb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  text-decoration: none;
  border: none;
  border-radius: 22px;
  padding: 11px 15px;
  z-index: 2;
  width: 17em;
  height: 4em;
  cursor:pointer;
  outline: none;
  transition:.3s;
}
.plataformasButton:hover{
  width: 18em;
  height: 5em;
}
.plataformasButton:active{
  width: 17em;
  height:4em;
}
.plataformasButton a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 7px;
}
.hero h1 {
  position: absolute;
  margin-left: 1.88em;
  margin-top: 1.4em;
  font-size: 80px;
  text-shadow: 0px 0px 15px #000000;
}

/* ----END-HERO----- */


/* --------------START-FOOTER---------------- */
/* -------------START-FOOTER-CSS-GRID--------------- */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90% 10%;
  grid-template-areas:
    "contactSchool contactFafe"
    "copyright copyright";
  /* width: 100vw; */
  /* height: 300px; */
  height: auto;
  background: gray;
  font-family: Roboto;
}
.contactSchool {
  grid-area: contactSchool;
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
  background: #4e5e6d;
  padding: 0% 18%;
}
.contactFafe {
  grid-area: contactFafe;
  /* border: solid red 2px; */
  background: #4e5e6d;
}
.copyright {
  grid-area: copyright;
  /* border: solid red 2px; */
  background: #394653;
}
/* ---END-FOOTER-CSS-GRID--- */

/* -----START-SECTION-CONTACT-SCHOOL----- */
.contactSchool div{
  margin:10px 0;
  align-items: center;
}
.contactSchool div p{
  margin:0;
}
.titleContactSchool {
  display: inherit;
  font-size: 1.7em;
  font-family: 'Barlow Condensed', Roboto;
  margin: 0 1% 0;
}
.titleContactSchool h2 {
  margin: 2% 0 0;
}
.location {
  display: inherit;
  align-items: baseline;
}
.phone {
  display: inherit;
  align-items: baseline;
}
.mail {
  display: inherit;
  align-items: baseline;
}
.facebook {
  display: inherit;
  margin: 0 11%;
}
/* -----END-SECTION-CONTACT-SCHOOL----- */


.contactFafe {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logotypeFafe"
    "socialNetworks";
  justify-items: center;
}
.logotypeFafe {
  grid-area: logotypeFafe;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 8%;
}
#FAFE {
  font-family: Rockwell,sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: 0%;
}
.buttonContactFafe a button {
  background-color: #16162d;
  color: white;
  outline: none;
  border: none;
  font-size: 1em;
}
.buttonContactFafe a button:hover {
  background: #3297CB;
  /* background-color: ; */
}
.socialNetworks {
  grid-area: socialNetworks;
  display: flex;
  width: 100%;
  justify-content: center;
}
.socialNetworks a{

  margin: auto 3%;
}
.copyright {
  display: inherit;
  justify-content: center;
  align-content: center;
}
svg {
  margin: 0 3% 0 0;
}
/* -----START-SECTION-CONTACT-FAFE----- */
/* -------------END-FOOTER--------------- */

/* START-PLATFORMS */
.menu{
  display:none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(50, 151, 203, 1) 0%,
    rgba(49, 49, 100, 1) 100%
  );
  z-index: 1;
  transition: .3s;
}
.menu.isActive{
  display: block;
  transition: .3s;
}
.menu nav{
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.platforms{
  display: flex;
  width: 40%;
  justify-content: space-around;
  padding:0;
}
.platforms li{
  list-style: none;
}
.platforms li a img{
  height: 5em;
  width: 10em;
  object-fit: contain;
  background: rgba(255, 255, 255, .4);
  border-radius: 15px;
  transition: .3s;
}
.platforms li a img:hover{
  height: 6em;
  width: 11em;
}
.menu nav span{
  font-size: 2em;
  text-align: center;
}
/* END-PLATFORMS */
/* burguer-buttoN-START */
.burguer-button{
	text-align: center;
	line-height:40px;
	display:none;
	width:40px;
	height:40px;
	border-radius: 50%;
	background:rgba(55,58,64,.5);
	position:fixed;
	z-index:4;
	left:7px;
	top:7px;
	color:#eeeeee;
}

/* burguer-button-END*/
/* START-RESPONSIVE */
@media screen and (max-width:1110px){
  .logotypeContainer {
    width: 6em;
    height: 6em;
  }
  .hero h1{
    font-size:60px;
    margin-left: 1em;
  }
  .logotypeContainer{
    margin-left: 3.5em;
  }
  .list{
    margin-left:4em;
    width: 90%;
  }
  .list ul{
    width: 65%;
  }
  .platforms{
    width:55%
  }
}
@media screen and (max-width:1024px){
  .contactSchool{
    padding: 0% 9%;
  }
}
@media screen and (max-width:970px){
  .list ul{
    width: 87%;
  }
  header h1{
    font-size:2.8em;
  }
}
@media screen and (max-width:890px){
  .plataformasButton a{
    display: none;
  }
  .plataformasButton{
    width: 4em;
    height: 4em;
  }
  .plataformasButton:hover{
    width: 5em;
    height: 5em;
  }
  .plataformasButton:active{
    width: 4em;
    height: 4em;
  }
  .list{
    width: 85%;
  }
  .list ul{
    width: 87%;
  }
  .platforms{
    width:70%
  }
}
@media screen and (max-width:768px){
  .logotypeContainer {
    width: 5em;
    height: 5em;
  }
  .contactSchool{
    padding: 0 0 0 5%;
  }
}
@media screen and (max-width:767px){
.plataformasButton:active{
  width: 3em;
  height: 3em;
}
.plataformasButton:hover {
  width: 4em;
  height: 4em;
}
  .list{
    justify-content: flex-end;
    margin-left: 0;
    width:100%;
  }
  .burguer-button{
    display: block;
  }
  .list-ul{
		position:fixed;
		background:rgba(29,37,44,.8);
		z-index: 3;
		top:0;
		left:-100vw;
		width:100vw;
		bottom:0;
		display:flex;
		align-items: center;
		justify-content: center;
		transition:.3s;
    flex-direction: column;

	}
	.list-ul.isActive{
		left:0;
	}
  .list ul{
    width: 100%;
    padding:25vh 0;
  }
  .navContainer{
    height: 0;
    width: 0;
  }
  .plataformasButton{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .titleContactSchool h2 {
    font-size:1em;
    color: #fff;
}
.platforms{
  flex-direction: column;
  align-items: center;
  height: 60%;
}
header h1{
    font-size:1.8em;
  }
}

@media screen and (max-width:590px){
  .plataformasButton{
    top: 0px;
    padding: 0;
    justify-content: center;
    width: 3em;
    height: 3em;
    right: 0;
  }
  .plataformasButton:hover{
    width: 3.1em;
    height: 3.1em;
  }
  .plataformasButton:active{
    width: 2.8em;
    height: 2.8em;
  }
}
@media screen and (max-width:455px){
  .hero h1 {
  font-size: 45px;
  margin-left: .5em;
  margin-top: .6em;
}

}
@media screen and (max-width:425px){
  .socialNetworks {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 50% 50%;
    width: 100%;
    justify-items: center;
    align-content: center;
  }
  
  .socialNetworks a{
    margin: 0 3% 0;
  }
  .contactSchool div p {
    margin: 0;
    font-size: 0.9em;
}

}
@media screen and (max-width:375px){
  header h1{
    font-size: 1em;
  }
  .logotypeContainer{
    width: 3em;
    height: 3em;
  }
  .hero h1{
    margin-left:.5em;
    margin-top: .5em;
  }
}
@media screen and (max-width:360px){
  header h1{
    font-size: 0.8em;
  }
}
@media screen and (max-width:345px){
  .hero h1{
    font-size:40px;
  }
}
/* END-RESPONSIVE */
