/* * {
  border: RED 2px solid;
} */
body {
  font-family: "Agency FB";
  margin: 0;
  color: white;
}
/* ----START-HEADER----- */
header {
  display: flex;
  width: 100%;
  height: 125px;
  background: #16162d;
}
header h1 {
  font-size: 62px;
  font-weight: 400;
  margin: auto 0;
}
.logotypeContainer {
  width: 138px;
  height: 119px;
  margin: 0;
  margin-left: 95px;
}
/* ----END-HEADER----- */

/* ----START-HERO----- */

.hero {
  display: flex;
  position: relative;
}
figure {
  margin: 0;
}
.heroImageContainer {
  width: 100%;
  height: 599px;
}
.heroImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  color: red;
  width: 80%;
}
.list ul {
  margin: 0;
  list-style: none;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 0;
}
.list ul li a {
  text-shadow: 2px 2px 6px #000000;
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: .3s;
}
.list ul li a:hover{
  font-size:1.1em
}
.navContainer {
  width: 100%;
  background-color: #16162d;
}
.plataformasButton {
  background-color: #3297cb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  text-decoration: none;
  border: none;
  border-radius: 22px;
  padding: 11px 15px;
  z-index: 2;
  width: 17em;
  height: 4em;
  cursor:pointer;
  outline: none;
  transition:.3s;
}
.plataformasButton:hover{
  width: 18em;
  height: 5em;
}
.plataformasButton:active{
  width: 17em;
  height:4em;
}
.plataformasButton a {
  font-family: "Agency FB";
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 7px;
}
.hero h1 {
  position: absolute;
  margin-left: 150px;
  margin-top: 115px;
  font-size: 86px;
  text-shadow: 0px 3px 6px #000000;
}
/* ----END-HERO----- */


/* --------------START-FOOTER---------------- */
/* -------------START-FOOTER-CSS-GRID--------------- */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90% 10%;
  grid-template-areas:
    "contactSchool contactFafe"
    "copyright copyright";
  /* width: 100vw; */
  /* height: 300px; */
  height: auto;
  background: gray;
  font-family: Roboto;
}
.contactSchool {
  grid-area: contactSchool;
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
  background: #4e5e6d;
  padding: 0% 18%;
}
.contactFafe {
  grid-area: contactFafe;
  /* border: solid red 2px; */
  background: #4e5e6d;
}
.copyright {
  grid-area: copyright;
  /* border: solid red 2px; */
  background: #394653;
}
/* ---END-FOOTER-CSS-GRID--- */

/* -----START-SECTION-CONTACT-SCHOOL----- */
.titleContactSchool {
  display: inherit;
  font-size: 1.7em;
  font-family: "Agency FB", Roboto;
  margin: 0% 1%;
}
.titleContactSchool h2 {
  margin: 3% 0;
}
.location {
  display: inherit;
  align-items: baseline;
}
.phone {
  display: inherit;
  align-items: baseline;
}
.mail {
  display: inherit;
  align-items: baseline;
}
.facebook {
  display: inherit;
  margin: 0 11%;
}
/* -----END-SECTION-CONTACT-SCHOOL----- */


.contactFafe {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logotypeFafe"
    "socialNetworks";
  justify-items: center;
}
.logotypeFafe {
  grid-area: logotypeFafe;
  height: 70%;
  position: relative;
  margin: 8% auto 0%;
}
#FAFE {
  font-family: Rockwell;
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: 0%;
}
.buttonContactFafe a button {
  background-color: #16162d;
  color: white;
  outline: none;
  border: none;
  font-size: 1em;
}
.buttonContactFafe a button:hover {
  background: #3297CB;
  /* background-color: ; */
}
.socialNetworks {
  grid-area: socialNetworks;
  display: flex;
  justify-content: center;
  width: 100%;
}
.facebookFafe {
  margin: auto 3%;
}
.twitter {
  margin: auto 3%;
}
.instagram {
  margin: auto 3%;
}
.github {
  margin: auto 3%;
}
.copyright {
  display: inherit;
  justify-content: center;
  align-content: center;
}
svg {
  margin: 0 3% 0 0;
}
/* -----START-SECTION-CONTACT-FAFE----- */
/* -------------END-FOOTER--------------- */

/* START-PLATFORMS */
.menu{
  display:none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(50, 151, 203, 1) 0%,
    rgba(49, 49, 100, 1) 100%
  );
  z-index: 1;
  transition: .3s;
}
.menu.isActive{
  display: block;
  transition: .3s;
}
.menu nav{
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.platforms{
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.platforms li{
  list-style: none;
}
.platforms li a img{
  height: 5em;
  width: 10em;
  object-fit: contain;
  background: rgba(255, 255, 255, .4);
  border-radius: 15px;
  transition: .3s;
}
.platforms li a img:hover{
  height: 6em;
  width: 11em;
}
.menu nav span{
  font-size: 2em;
}
/* END-PLATFORMS */
