.pageTitle {
  color: #16162d;
  font-size: 48px;
  margin-left: 95px;
}
h3 {
  font-size: 30px;
  margin: 0;
}
h4 {
  margin: 0;
  font-size: 24px;
}
.authorities {
  color: #16162d;
  display: grid;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 5em 3em;
  grid-template-columns: repeat(4,1fr);
  column-gap: normal;
  row-gap: 3em;
}
.authorities div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authorities div figure {
  margin: 0;
  height: 184px;
  width: 184px;
}
.authorities div figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
