.pageTitle {
  color: #16162d;
  font-size: 48px;
  margin-left: 3em;
  margin-top:0;
  padding-top:0.5em;
}
h3 {
  font-size: 30px;
  margin: 0;
  color: white;
}
h4 {
  margin: 0;
  font-size: 24px;
  color: gold;
}
.authorities {
  color: #16162d;
  display: grid;
  text-align: center;
  padding: 0 5em 3em;
  grid-template-columns: repeat(4,1fr);
  column-gap: normal;
  row-gap: 3em;
}
.authorities div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authorities div figure {
  margin: 0;
  height: 184px;
  width: 184px;
  box-shadow: 2px 2px 6px #000;
  margin-bottom: 1em;
}
.authorities div figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fondoDegradado{
  background: linear-gradient(135deg, rgba(50,151,203,1) 0%, rgba(49,49,100,1) 100%);
  margin:0;
}
@media screen and (max-width:1024px){
  .pageTitle{
    font-size:40px
  }
  h3{
    font-size: 1.5em;
  }
  h4{
    font-size: 1.3em;
  }
}
@media screen and (max-width:1024px){
  .authorities{
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width:768px){
  h3{
    font-size: 1.29em;
  }
  h4{
    font-size: 1em;
  }
}
@media screen and (max-width:768px){
  .authorities{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width:580px){
  .authorities{
    grid-template-columns: 1fr;
    padding:0;
  }
  .pageTitle{
    margin:0 0 .5em;
    text-align: center;
  }
  .authorities:last-child{
    padding-bottom: 2em;
  }
}
@media screen and (max-width:375px){
  .pageTitle{
    font-size: 30px;
  }
}