/* ------------ARROWS-FONTS---------- */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-Arrows.eot?m5iosp');
  src:  url('../fonts/icomoon-Arrows.eot?m5iosp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-Arrows.ttf?m5iosp') format('truetype'),
    url('../fonts/icomoon-Arrows.woff?m5iosp') format('woff'),
    url('../fonts/icomoon-Arrows.svg?m5iosp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back_ios:before {
  content: "\e900";
}
.icon-arrow_forward_ios:before {
  content: "\e901";
  font-size: 2em;
  cursor: pointer;
}
/* ------------ARROWS-FONTS---------- */

/* -----------START-HERO----- */
.hero {
  display: flex;
  position: relative;
}
.titleNews h1{
  font-size: 3em;
  margin: 2% 9% 0%;
}

.navContainer {
  background-color: unset;
}
.list {
  position: absolute;
}
.list ul {
  margin: 30px 0;
}
.newImagen{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ----------END-HERO------------ */

/* ----------START-NEWS----------*/
.sectionNews {
  background: linear-gradient(
    135deg,
    rgba(50, 151, 203, 1) 0%,
    rgba(49, 49, 100, 1) 100%
    );
    /* width: 657px; */
  width: 100%;
  /* width: 98vw; */
  height: 100vh;
  /* overflow: hidden; */
  overflow-x: scroll;
  overflow-y: hidden;
}
.containerNewsCoursel {
  display: flex;
  width: 200%;
  /* position: relative; */
  /* left: 0; */
}
.newsFirst {
  /* display: inherit; */
  /* display: none; */
  display: inline-block;
  margin: 0;
  width: 50%;
  /* float: left; */
  /* position: absolute; */
}
.newsSecond {
  /* display: none; */
  /* display: inherit; */
  display: inline-block;
  margin: 0;
  width: 50%;
  /* float: left; */
  /* position: absolute; */
}
.titleNews h1 {
  font-size: 3em;
  margin: 2% 9% 0%;
}

/* ----------START-CSS-GRID-NEWS---------- */
.newsContainer-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12% 35% 1fr 12% 35%;
  /* grid-template-rows: 50% 50%; */
  /* grid-template-rows: 6% 17.5% 1fr 6% 17.5%; */
  grid-template-areas: "titleNew-1 titleNew-2 titleNew-3"
  "new1 new2 new3"
  ". . ."
  "titleNew-4 titleNew-5 titleNew-6"
  "new4 new5 new6" ;
  justify-items: center;
  grid-column-gap: 6%;
  margin: auto 9%;
  height: 80vh;
}
.newsContainer-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12% 35% 1fr 12% 35%;
  grid-template-areas: "titleNew-7 titleNew-8 titleNew-9"
  "new7 new8 new9"
  ". . ."
  "titleNew-10 titleNew-11 titleNew-12"
  "new10 new11 new12" ;
  justify-items: center;
  grid-column-gap: 6%;
  margin: auto 9%;
  height: 80vh;
  margin: calc(58px + 2%) 9% 0 9%;
}
/* .olds {
  height: 90vh;
} */
.newsContainer h1{
  font-size: 1.5em;
  margin: 0;
}
.new {
  width: 100%;
  height: 100%;
}
.titleNew-1 {
  grid-area: titleNew-1;
}
.titleNew-2 {
  grid-area: titleNew-2;
}
.titleNew-3 {
  grid-area: titleNew-3;
}
.titleNew-4 {
  grid-area: titleNew-4;
}
.titleNew-5 {
  grid-area: titleNew-5;
}
.titleNew-6 {
  grid-area: titleNew-6;
}

.titleNew-7 {
  grid-area: titleNew-7;
}
.titleNew-8 {
  grid-area: titleNew-8;
}
.titleNew-9 {
  grid-area: titleNew-9;
}
.titleNew-10 {
  grid-area: titleNew-10;
}
.titleNew-11 {
  grid-area: titleNew-11
}
.titleNew-12 {
  grid-area: titleNew-12
}  
.new1{
  grid-area: new1;
}
.new2{
  grid-area: new2;
}
.new3{
  grid-area: new3;
}
.new4{
  grid-area: new4;
}
.new5{
  grid-area: new5;
}
.new6{
  grid-area: new6;
}

.new7{
  grid-area: new7;
}
.new8{
  grid-area: new8;
}
.new9{
  grid-area: new9;
}
.new10{
  grid-area: new10;
}
.new11{
  grid-area: new11;
}
.new12{
  grid-area: new12;
}
.newImageContainer {
  width: 100%;
  /* height: 65%; */
  height: 100%;
  cursor: pointer;
  position: relative;
}
/* .newImagen {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */
.layerNew {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 60, 163,0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.layerNew h2 {
  margin-top: 5%;
  margin-bottom: 35%;
  transition: all 500ms ease-out;
}
.newImageContainer:hover > .layerNew {
  opacity: 1;
  visibility: visible;
}

.newImageContainer:hover > .layerNew h2 {
  margin-top: 20%;
  margin-bottom: 5%;
}
/* .arrow-left {
  width: 40px;
  width: 50px;
} */
/* ----------START-CSS-GRID-NEWS---------- */
/* ----------END-NEWS---------- */

/* ----------START-ABOUT---------- */
.about {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}
.aboutImageContainer {
  width: 100%;
  height: 100%;
}
.aboutImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.abouTextContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.abouTextContainer h1 {
  text-align: center;
  font-size: 73px;
  color: #314d81;
  margin: 1em auto 0;
}
.abouTextContainer h2 {
  text-align: center;
  font-family: "roboto";
  font-size: 2.7em;
  text-shadow: 0px 3px 6px #000;
  margin: 0px 20% 0.7em;
}
/* ----------END-ABOUT---------- */
/* START-CARROUSEL */
.carrousel{
  width: 100%;
  overflow: hidden;
}
.carrousel figure{
  position: relative;
  width: 500%;
  margin: 0%;
  left: 0;
  animation: 20s carrousel infinite;
}
.carrousel figure img{
  width: 20%;
  float: left;
}
@keyframes carrousel{
  0%{
    left:0;
  }
  20%{
    left:0;
  }
  25%{
    left:-100%;
  }
  45%{
    left:-100%;
  }
  50%{
    left:-200%;
  }
  70%{
    left:-200%;
  }
  75%{
    left:-300%;
  }
  95%{
    left:-300%;
  }
  100%{
    left:-400%;
  }
}
/*END-CARROUSEL*/
.list ul{
  margin: 0;
}
/* RESPONSIVE-START */
@media screen and (max-width:1024px){
  .abouTextContainer h2{
    margin: 0px 10% 0.7em;
  }
}
@media screen and (max-width:768px){
  .about{
    height: 90vh;
  }
  .abouTextContainer h2{
    margin: 0px 5% 0.7em;
  }
}
@media screen and (max-width:695px){
  .abouTextContainer h2{
    font-size: 1.7em;
  }
  .abouTextContainer h1{
    font-size: 60px;
  }
  .about{
    height: 80vh;
  }
}
@media screen and (max-width:545px){
  .abouTextContainer h2{
    margin: 0 0 1em;
  }
}
@media screen and (max-width:375px){
  .abouTextContainer h1 {
    font-size: 45px;
}
.abouTextContainer h2 {
  font-size: 1.4em;
}
}

/* RESPONSIVE END*/