.navContainer{
    position: sticky;
    top: -1px;
}
.newContainer{
    background: linear-gradient(135deg, rgba(50,151,203,1) 0%, rgba(49,49,100,1) 100%);
    padding: 1em 6.5em 1em 6.5em;
}
.title,.date,.content,.autor{
    margin:0;
}
.date,.autor{
    color:rgb(255 255 255 / 76%)
}
.title{
    font-size:3.8em;
}
.subtitle{
    font-size:2.7em;
    margin: 1% 0%;
}
.subtitle-2{
    font-size:2.7em;
    margin: 10% 0% 2.5% 5%;
}
.newContainer h2{
    color: gold;
}
.content{
    font-size:1.8em;
    line-height: 1.5;
}
.autorContainer{
    display:flex;
    align-items: center;
    margin-bottom:1em;
}
.autorContainer figure img{
    height: 100%;
    width:100%;
    object-fit: contain;
    background: unset;
    margin-left: .5em;
}
.autorContainer figure{
    width: 1.5em;
    height: 1.5em;
}
.imgContainer{
    width: 470px;
    margin: 1em 3em;
}
.imgContainer-2{
    margin: 1em 3em;
    width: 620px;
}
.imgContainer-3{
    width: 820px;
    margin: 1em 3em;
}
.imgContainer img{
    background: unset;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imgContainer-2 img{
    background: unset;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imgContainer-3 img{
    background: unset;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imagesNew{
    display: flex;
    flex-wrap: wrap;
}
.imagesNew-2{
    justify-content: center;
}
.contentContainer{
    display: flex;
    justify-content: center;
}
.linksContainer {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
}
/* .linkNews {
    font-size: 2em;
    font-weight: 600;
} */
.youtubeVideo {
    width: 854px; 
    height: 480px;
}
@media screen and (max-width:1024px){
    /* .newContainer{
        padding-left: 4.5em;
    } */
    .title{
        font-size:2.4em
    }
    .content{
    font-size: 1.8em;
    }
    .linksContainer {
        font-size: 1.8em
    }
    .newContainer {
        padding: 2.2em;
    }    
    .subtitle{
        font-size: 2em;
    }
}
@media screen and (max-width:767px){
    .navContainer{
        position:unset;
    }
    .newContainer {
        padding: 2em;
    }
    .content{
        font-size: 1.5em;
    }
    .linksContainer {
        font-size: 1.5em;
    }
    .subtitle{
        font-size: 2em;
    }
    .subtitle-2{
        font-size: 2em;
    }
    .imgContainer-2{
        margin: 0;
        width: 620px;
        margin: 1em 0;
    }
    .imgContainer{
        margin: 0;
        width: 470px;
        margin: 1em 0;
    }
    
}

@media screen and (max-width:620px){
    .newContainer{
        padding: 1.5em;
    }
    .title{
        font-size:2em
    }
    .content{
        font-size: 1.3em;
        /* margin: 0 1em; */
    }
    .linksContainer {
        font-size: 1.3em;
    }
    .date,.autor{
        font-size:0.9em
    }
    .subtitle{
        font-size: 2em;
    }
    .subtitle-2{
        font-size: 2em;
    }
}
@media screen and (max-width:425px){
    .newContainer {
        padding: 1em 1em;
        }
        .imgContainer{
            padding:0;
            margin: 1em 0;
        }
        .content{
            font-size: 1.1em;
            /* margin: 0 1em; */
        }
        .linksContainer {
            font-size: 1.1em;
        }
        .subtitle{
            font-size: 2em;
        }
        .subtitle-2{
            font-size: 2em;
        }
        .youtubeVideo {
            width: 393px; 
            height: 220px;
        }
    } 