.content{
  background: linear-gradient(
    135deg,
    rgba(50, 151, 203, 1) 0%,
    rgba(49, 49, 100, 1) 100%
    );
}
.photos {
  column-count: 4;
  column-gap: 10px;
  padding: 0 90px 20px;
}
.photos figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  box-shadow: 2px 2px 6px #000;
}
.photos figure img {
  grid-row: 1 / -1;
  grid-column: 1;
  max-width: 100%;
  display: block;
  background-color: silver;
}
.pageTitle {
  color: #16162d;
  font-size: 48px;
  padding: .5em 0 .5em 2em;
  margin:0;
}
@media screen and (max-width:1024px){
  .photos{
    padding:0 55px 20px;
  }
  .pageTitle{
    font-size: 40px;
    padding: .5em 0 .5em 1em;
  }
}
@media screen and (max-width:768px){
  .photos{
    padding:0 20px 20px;
  }
  .pageTitle{
    padding: .5em 0 .5em .5em;
  }
}
@media screen and (max-width:767px){
  .photos {
    column-count: 3;
  }
}
@media screen and (max-width:450px){
  .photos {
    column-count: 2;
  }
}