.menu{
    display: block;
    z-index: 0;
}
.plataformasButton{
    margin: 40px 0 0 95px;
    width: 10em;
}
.plataformasButton:hover{
    width: 11em;
}
#haciaDivisiones,#haciaCursos{
    display:none;
}
#curses{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:3em;
}
#curses h1{
    font-size:2.5em;
}
.cursesgrill{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:24px;
}
.cursesgrill div{
    display: grid;
    justify-items: center;
    align-content: center;
    text-decoration: none;
    cursor: pointer;
}
.cursesgrill div h3, #divisiones div div h3{
    margin:0;
    color: white;
}
.curseContainer{
    text-align: center;
    height:10em;
    width: 10em;
    transition:.3s;
}
.curseContainer:hover{
    height: 11em;
    width:11em;
}
.curseContainer img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#divisiones{
    display:none;
    flex-direction: column;
    align-items: center;
    margin-top:3em;
    transition: .3s;
}
#divisiones div{
    display:grid;
    justify-items: center;
    align-content: center;
    grid-gap:24px;
    cursor: pointer;
    transition:.3s;
}
#divisiones div div{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.asign{
    display:none;
}
.asign ul{
    padding: 0;
    margin: 0 0 0 100px;
}
.asign ul li{
    list-style: none;
}
.asign ul li a{
    font-size:2em;
    text-decoration: none;
    color:white;
    transition:.3s;
}
.asign ul li a:hover{
    color:#16162d;
    font-size: 2.2em;
}